<!doctype html>
<html>
  <head>
    <title>Essay Writer</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1><%=@e.name%>'s story</h1>
    <div>
      One day <%=@e.name%> walked out of <%=@e.state%> high school. He turned to his m8, <%=@e.friend%> and asked, do u want 2 quickscope 2nite? <%=@e.name%> said "sure, but u have to bring some of that delicious <%=@e.soda%> m8." <%=@e.name%> walked into his house and gave <%=@e.friend%> a tour. <%=@e.friend%> noticed that <%=@e.name%> had a <%=@e.com%>, "ewwwwwww" said "<%=@e.friend%>, u have a <%=@e.com%>?" <%=@e.name%> said "wh4tever m8, I can still nosc u 2nite." <%=@e.friend%> said alright, I’ll need 2 use an Xbox Original controller, though. So they started playing <%=@e.game%>, and <%=@e.name%> had a 1-53 k/d, but <%=@e.friend%> had a 360-0 k/d. Eventually, <%=@e.name%> gave up and said, gg skrubmeister. - Written by Max Sturm 
    </div>
    <div>
      ──────────██████████████████──────────
────────██████████████████████────────
──────██████████████████████████──────
────██████████████████████████████────
────████████████████████████████████──
──████████░░████████░░██████████████──
──██████░░░░░░████░░░░████░░████████──
──██████░░░░░░░░░░░░░░░░░░░░░░████████
████████░░░░░░░░░░░░░░░░░░░░░░██░░████
████████░░████░░░░░░░░████░░░░░░░░████
██████░░░░░░░░░░░░░░░░░░░░░░░░░░██████
██████░░░░░░░░░░████░░░░░░░░░░████████
████████░░░░░░░░░░░░░░░░░░████████████
████████████░░░░░░░░░░░░██████████████
──██──████████████░░░░██████████──██──
────────────────██░░░░██──────██──────
──────────────██████████████──────────
────────██████▓▓████████▓▓██████──────
──────██▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓██────
────██▓▓██░░░░░░░░░░░░░░░░░░████▓▓██──
────██▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓██──
────██████░░░░░░░░░░░░░░░░░░░░██████──
────██░░██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██░░██──
────██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████──
────────██▓▓▓▓▓▓██████▓▓▓▓▓▓▓▓██──────
────────██▓▓▓▓▓▓██──██▓▓▓▓▓▓▓▓██──────
────────██████████──████████████──────
────────────██████──████████──────────
──────────████████──██████████────────﻿
    </div>
  </body>
</html>

<!-- What is your name? 1
Where do you live? 2
What kind of computer do you own? 3
What is your favorite soda? 4
What is your favorite multiplayer online game? 5
What MLG team ru on skrub? 6
What is your best friend’s name? 7
-->
